.diary-content {
  position: absolute;
  width: 1929px;
  height: 1011px;
  left: -9px;
  top: 87px;
  background: url(/src/images/스케치북3.png); 
}

.diary-title {
  position: absolute;
  width: 1252.5px;
  height: 60px; 
  left: 370.5px;
  top: 130px;
  padding: 20px;
  font-family: 'Cafe24 Dongdong';
  font-size: 74px;
  line-height: 75px;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary-meta {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 800px; 
  left: 390.5px;
  top: 260px;
}

.diary-date,
.diary-weather {
  width: 380px;
  height: 60px;
  font-family: 'Cafe24 Dongdong';
  font-size: 48px;
  line-height: 50px;
  color: #000000;
  background: transparent;
  border: none;
  outline: none;
  text-transform: uppercase;
}

.diary-weather-container{
  position: absolute;
  left: 500px;
  width: 600px;
  display: flex;
  align-items: center;
  font-family: 'Cafe24 Dongdong';
}

.weather-label {
  font-family: 'Cafe24 Dongdong';
  font-size: 48px;
  margin-right: 10px;
  color: #000000;
}

.diary-textarea {
  position: absolute;
  width: 1252.5px;
  height: 550px;
  left: 370.5px;
  top: 350px;
  padding: 20px;
  font-family: 'Cafe24 Dongdong';
  font-size: 60px;
  line-height: 75px;
  color: #000000;
  background: transparent;
  border: none;
  resize: none;
  outline: none;
  text-transform: uppercase;
}

.save-button-container {
  position: absolute;
  width: 200px; 
  height: 70px; 
  left: 80%; 
  top: 95%; 
  transform: translate(-50%, -50%); 
}

.save-button {
  width: 100%;
  height: 100%;
  background: #F9D72F;
  border-radius: 30px;
  font-family: 'Cafe24 Dongdong';
  font-size: 28px; /* 폰트 크기 축소 */
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}

.image-preview {
  margin-top: 20px;
  text-align: center;
}

.image-preview img {
  max-width: 90%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
