.diary-list-container {
  background: linear-gradient(0deg, #F9FAFB, #F9FAFB);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: 110px; 
  gap: 20px;
}

.diary-list-header {
  width: 100%;
  max-width: 1653px;
  height: 120px;
  background: #F9D72F;
  border: 1.5px solid #F9D72F;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.diary-list-header h1 {
  font-family: 'Cafe24 Dongdong';
  font-size: 48px;
  color: #181830;
  margin: 0;
}

.write-diary-button {
  width: 250px;
  height: 80px;
  font-family: 'Cafe24 Dongdong';
  font-size: 28px;
  background-color: #F9D72F;
  border: none;
  color: #181830;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.write-diary-button:hover {
  background-color: #FFD83C;
}

.diary-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1800px;
  margin-top: 40px;
}

.diary-card {
  width: 450px;
  height: 500px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.diary-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.diary-card-image {
  width: 100%;
  height: 60%; 
  object-fit: cover;
  border-bottom: 1px solid #F9D72F;
}

.diary-card-info {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
}

.diary-card-title {
  font-family: 'Cafe24 Dongdong';
  font-size: 32px;
  color: #181830;
  margin: 10px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.diary-card-date {
  font-family: 'Cafe24 Dongdong';
  font-size: 20px;
  color: #FF9900;
  margin-bottom: 5px;
}

.diary-card-content {
  font-family: 'Cafe24 Dongdong';
  font-size: 18px;
  color: #606060;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
