.navbar {
  position: fixed; /* fixed로 변경 */
  height: 90px;
  left: 0px;
  right: 0px;
  top: 0px;
  background: #181830;
  box-shadow: 0px 15px 22.5px -4.5px rgba(0, 0, 0, 0.1), 0px 6px 9px -3px rgba(0, 0, 0, 0.05);
  display: flex; /* flexbox 사용 */
  justify-content: space-between; /* 링크들을 좌우로 배치 */
  align-items: center; /* 세로 정렬 */
  padding: 0 20px; /* 패딩 추가 */
}

.main-link,
.diary-link,
.login-link {
  
  text-decoration: none; /* 링크 밑줄 제거 */
  transition: color 0.3s; /* 부드러운 전환 효과 추가 */
}

.main-link:hover,
.diary-link:hover,
.login-link:hover {
  color: #F9D72F; /* Hover color change */
}


.login-link{
  
position: absolute;
width: 192px;
height: 109.5px;
right: 73.5px;
bottom: -9px;

font-family: 'Cafe24 Dongdong';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

.main-link{
  position: absolute;
width: 276px;
height: 99px;
right: 1605px;
bottom: -4.5px;

font-family: 'Cafe24 Dongdong';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 60px;
/* or 111% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



}

.diary-link{
  position: absolute;
width: 192px;
height: 109.5px;
right: 1393.5px;
bottom: -9px;

font-family: 'Cafe24 Dongdong';
font-style: normal;
font-weight: 400;
font-size: 45px;
line-height: 60px;
/* or 133% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


}